<tr {{#if newRow}}class="green-flash"{{/if}}>
    <td> {{userId}} </td>
    <td> {{currencyFrom}} </td>
    <td> {{currencyTo}} </td>
    <td> {{amountSell}} </td>
    <td> {{amountBuy}} </td>
    <td> {{rate}} </td>
    <td> {{timePlaced}} </td>
    <td> {{originatingCountry}} </td>
</tr>