div.table-
    table.table.table-striped.table-hover.table-bordered
        thead
            tr
                th User ID
                th Currency From
                th Currency To
                th Amount Sell
                th Amount Buy
                th Rate
                th Time Placed
                th Originating Country
        tbody
            each message, index in messages
                tr
                    td= message.userId
                    td= message.currencyFrom
                    td= message.currencyTo
                    td= message.amountSell
                    td= message.amountBuy
                    td= message.rate
                    td= message.timePlaced
                    td= message.originatingCountry